__pycache__/
*.pyc
*.pyo
*.db

ECG_Auth/data/
ECG_Auth/outputs/
ECG_Auth/venv/
ECG_Auth/.env
ECG_Auth/build/
ECG_Auth/dist/
ECG_Auth/.vscode/
ECG_Auth/.idea/
ECG_Auth/**/*.keras
ECG_Auth/**/*.h5
ECG_Auth/**/*.pt
ECG_Auth/**/*.pth
ECG_Auth/**/*.pyc
ECG_Auth/**/__pycache__/

data/